body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

button {
    background-color: rgb(143, 226, 229);
    border: none;
    border-radius: 10px;
}
button:hover {
    background-color: cadetblue;
}

ul {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: decimal-leading-zero;
    background-color: rgb(255, 220, 173);
    border-radius: 10px;
    width: 265px;
}